<launch>
    <arg name="gnss_module" default="NEO-M8P-2-10"/>
    <arg name="gnss_port" default="/dev/ttyACM0"/>
    <arg name="gnss_frame_id" default="gnss"/>
    
    <node name="$(arg gnss_frame_id)" pkg="ublox_gps" type="ublox_gps" output="screen">
	<rosparam command="load" file="$(find ublox_gps)/config/$(arg gnss_module).yaml"/>
        <param name="gnss_port" type="string" value="$(arg gnss_port)"/>
        <param name="gnss_frame_id" type="string" value="$(arg gnss_frame_id)"/>

    </node>
</launch>
